body {
    font-family: 'Lato', sans-serif;
}

main {
    margin: auto;
    margin-top: 10%;
    width: 320px;
    border: 1px solid black;
}

#main-nav {
    text-align: center;
    display: table;
    width: 100%;
}

.status-item {
    display: table-cell;
    padding: 20px;
    width: 32%;
}

.status-item:hover {
    background-color: #6441A5;
    color: white;
    cursor: pointer;
}

#add-stream {
    width: 95%;
    margin: auto;
}

#add-stream-input {
    width: 95%;
    border-radius: 25px;
    border: 1px solid #ecf0f1;
    font-size: 1.2em;
    padding: 8px;
    margin: auto;
}

#stream-list {
    padding: 10px;
    padding-bottom: 0px;
}

.streamerLi {
    border-bottom: 1px solid #ecf0f1;
}

.profileAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px, 5px;
}

.streamInfoDiv {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.streamOnlineStatus {
    font-size: 0.75em;
}

.streamStatusIcon {
    height: 10px;
    width: 10px;
    border-radius: 50%;;
    margin-bottom: 17px;
    float: right;
}

.isOnline {
    background-color: #00ff00;
    -webkit-animation: flicker 2s infinite;
	-moz-animation: flicker 2s infinite;
	-o-animation: flicker 2s infinite;
	animation: flicker 2s infinite;
}

.isOffline {
    background-color: grey;
}

.deleteButton {
    border: none;
    background-color: white;
    padding: 5px;
    margin-top: 15px;
    float: right;
}

.hidden {
    display: none;
}