body {
    font-family: 'Lato', sans-serif;
}

main {
    margin: auto;
    margin-top: 5%;
    width: 100%;
    max-width: 420px;
    min-width: 320px;
    border: 1px solid #6441A5;
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.40);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.40);
}

#main-nav {
    text-align: center;
    display: table;
    width: 100%;
}

.status-item {
    display: table-cell;
    padding: 20px;
    width: 32%;
}

.status-item:hover {
    background-color: #6441A5;
    color: white;
    cursor: pointer;
}

#add-stream {
    width: 95%;
    margin: auto;
}

#add-stream-input {
    width: 95%;
    border-radius: 25px;
    border: 1px solid #ecf0f1;
    font-size: 1.2em;
    padding: 8px;
    margin: auto;
}

#stream-list {
    padding: 10px;
    padding-bottom: 0px;
}

.streamerLi {
    border-bottom: 1px solid #ecf0f1;
    padding: 5px;
}

.streamerLi:hover {
    border-left: 3px solid #6441A5;
}

.profileAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px, 5px;
}

.streamInfoDiv {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.streamOnlineStatus {
    font-size: 0.75em;
}

.streamStatusIcon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 20px;
    float: right;
}

.isOnline {
    background-color: #00ff00;
}

.isOffline {
    background-color: grey;
}

.deleteButton {
    border: none;
    background-color: white;
    padding: 5px;
    margin-top: 13px;
    float: right;
    height: 20px;
    width: 20px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
}

.social-icon, social-icon:visited {
    color: #4d4d4d;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    margin: 5px;
}

.social-icon:hover {
    transform: scale(1.5);
}