main {
    margin: auto;
    margin-top: 10%;
    width: 40%;
    min-width: 320px;
}

#main-nav {
    text-align: center;
}

.status-item {
    display: inline-block;
    padding: 10px;
}

.status-item:hover {
    background-color: #6441A5;
    color: white;
    cursor: pointer;
}

.streamInfoDiv {
    display: inline-block;
    padding: 10px;
}

.streamStatusIcon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

.isOnline {
    background-color: green;
}

.isOffline {
    background-color: grey;
}

.profileAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hidden {
    display: none;
}